:root{
    --gray:#212121;
    --green:#009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

html,body{
    height: 100%;
    width: 100%;

}

body{
    background-color: var(--black);
}

.green{
    color: var(--green);
}

.gray{
    color: var(--gray);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 65px;
    position: fixed;
    width: 100%;

}

.nav1{
    display: flex;
    align-items: center;
    gap: 20px;
    
    
}

.nav1 img{
    height: 50px;
}

.nav2{
    display: flex;
    align-items: center;
    gap: 50px;
    
}

.nav2 h4{
    font-size: 14px;
    
}

.nav3{
    display: none;
    align-items: center;
    gap: 50px;
    
}

.nav3 h4{
    font-size: 14px;
    
}

@media (max-width:600px) {
    nav{
        padding: 10px 25px;
    }

        .nav1 h4{
            font-size: 12px;
        }

    .nav2{
        display: none;
    }

    .nav3{
        display: flex;
    }


}

main{
    padding-top: 100px;
}


.section1{

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 15px 70px;

}

.section1 .left{
    width: 42%;
}

.section1 .left h1{
    font-size: 38px;
}

.section1 .left .tags{
    
    display: flex;
    align-items: center;
    gap: 5px 5px;
    flex-wrap: wrap;
    margin: 30px 0;
    
}

.left .price{
    font-size: 35px;

}

.left .price .gray{
    font-size: 17px;
    text-decoration: line-through;
}


.section1 .left .tags h4{

    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
    
    background-color: var(--gray);
}


.section1 .right{
    width: 45%;
}

.section1 .right .right-in{
    height: 430px;
    
    border-radius: 10px;
    overflow: hidden;
}

.section1 .right .right-in .image{
    width: 100%;
}

.section1 .right .right-in .image img{
    width: 100%;
}

.section1 .right .right-in .image-bottom{
    padding: 10px;
    background-color: var(--gray);
    padding-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    flex-wrap: wrap;
}

.right-in .image-bottom h4{
    background-color: #151515;
    padding: 2px;
    border-radius: 5px;
    width: 30%;
}

.section1 .left .button-main{
    display: flex;
    align-items: center;
    gap: 3px;
}

.button-main button{
    background: var(--green);
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
}

.button-main button:hover {
    background: var(--black);
    transform: scale(1.05);
    cursor: pointer;
}



@media (max-width: 1200px) {

    .section1 .left h1{
        font-size: 2.7vw;
    }
    
}
@media (max-width: 800px) {

    .section1 .left h1{
        font-size: 25px;
    }

    .section1 .left{
        width: 100%;
    }

    .section1 .right{
        width: 100%;
        height: 50%;
    }

    .section1{
        gap: 25px;
    }

    .section1{
        flex-direction: column-reverse;
    }
    
}